.textarea {
  border-color: #0000003b;
  cursor: pointer;
  font-size: 15px;
}

.textarea::placeholder {
  color: #0000003b;
}

.textarea:hover {
  border-color: #000000;
}

.textarea:focus {
  outline: none;
}
